<div id="modal_prod" class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto;">
    <div class="mfp-container mfp-s-ready mfp-inline-holder" style="height: unset;">
        <div class="mfp-content">
            <div class="product-lightbox lightbox-content">
                <div class="product-quick-view-container">
                    <div class="row row-collapse mb-0 product" id="product-1515">
                        <div class="product-gallery large-6 col slideshow-container">
                            <div class="mySlides fade">
                                <div class="numbertext">1 / 3</div>
                                <img src="style\uploads\2019\12\5678-karofi-280x280.jpg" style="width:100%">
                            </div>
                            <div class="mySlides fade">
                                <div class="numbertext">2 / 3</div>
                                <img src="style\uploads\2019\12\5678-karofi-280x280.jpg" style="width:100%">
                            </div>
                            <div class="mySlides fade">
                                <div class="numbertext">3 / 3</div>
                                <img src="style\uploads\2019\12\5678-karofi-280x280.jpg" style="width:100%">
                            </div>
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            <br>
                            <div style="text-align:center">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                            </div>
                        </div>
                        <div class="product-info summary large-6  col entry-summary" style="font-size:90%;">
                            <div class="product-lightbox-inner" style="padding: 30px;">
                                <a class="plain" href="https://karofihaiduong.vn/san-pham/may-loc-nuoc-nong-lanh-karofi-kad-d52/">
                                    <h1>Máy lọc nước nóng lạnh Karofi KAD-D52</h1>
                                </a>
                                <div class="is-divider small"></div>
                                <div class="price-wrapper">
                                    <p class="price product-page-price price-on-sale">
                                        <del><span class="woocommerce-Price-amount amount">9,990,000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span class="woocommerce-Price-amount amount">8,300,000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></p>
                                </div>
                                <div class="product-short-description">
                                    <ul>
                                        <li aria-level="1">Công nghệ làm lạnh điện tử siêu êm</li>
                                        <li aria-level="1">Công nghệ kiểm chất lượng nước chủ động Aiotec</li>
                                        <li aria-level="1">10 lõi lọc Smax hiệu suất cao</li>
                                        <li aria-level="1">Bảo hành 36 tháng</li>
                                        <li>Xuất xứ: Việt Nam</li>
                                        <li><strong>Tặng Quạt Điều Hoà KAC-E41 trị giá <span style="color: #ff0000;">3.440.000 VNĐ</span> (áp dụng từ 01/07 – 31/07/2021)</strong></li>
                                    </ul>
                                </div>
                                <form class="cart" action="https://karofihaiduong.vn/san-pham/may-loc-nuoc-nong-lanh-karofi-kad-d52/" method="post" enctype="multipart/form-data">
                                    <div class="quantity buttons_added">
                                        <input type="button" value="-" class="minus button is-form"> <label class="screen-reader-text" for="quantity_60e9892f36a7e">Số lượng</label>
                                        <input type="number" id="quantity_60e9892f36a7e" class="input-text qty text" step="1" min="1" max="9999" name="quantity" value="1" title="SL" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="Máy lọc nước nóng lạnh Karofi KAD-D52 số lượng">
                                        <input type="button" value="+" class="plus button is-form"> </div>
                                    <button type="submit" name="add-to-cart" value="1515" class="single_add_to_cart_button button alt">Thêm vào giỏ</button>
                                </form>
                                <div class="product_meta">
                                    <span class="posted_in">Danh mục: <a href="https://karofihaiduong.vn/danh-muc/may-loc-nuoc-karofi/may-loc-nuoc-tu-dung/may-loc-nong-lanh/" rel="tag">Máy Lọc có Nóng Lạnh</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button title="Close (Esc)" type="button" onclick="closemodal()" class="mfp-close">×</button></div>
        </div>
        <div class="mfp-preloader">Loading...</div>
    </div>
</div>